--
-- PostgreSQL database dump
--

\restrict 1gPHyDcjZ0BgLpCPVKjZmN9fLIdJmtI3WrjaKee6zcTXMN8sTGgri7qIcn6akU1

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: ayra
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO ayra;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: ayra
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ArbitrationOutcome; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."ArbitrationOutcome" AS ENUM (
    'RELEASE',
    'REFUND',
    'SPLIT'
);


ALTER TYPE public."ArbitrationOutcome" OWNER TO ayra;

--
-- Name: DisputeStatus; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."DisputeStatus" AS ENUM (
    'OPEN',
    'ARBITRATED',
    'CLOSED'
);


ALTER TYPE public."DisputeStatus" OWNER TO ayra;

--
-- Name: DraftStatus; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."DraftStatus" AS ENUM (
    'SUBMITTED',
    'REVIEWED',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."DraftStatus" OWNER TO ayra;

--
-- Name: EnquiryStatus; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."EnquiryStatus" AS ENUM (
    'SUBMITTED',
    'QUOTED',
    'APPROVED',
    'REJECTED',
    'PROJECT_CREATED'
);


ALTER TYPE public."EnquiryStatus" OWNER TO ayra;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'UNREAD',
    'READ'
);


ALTER TYPE public."NotificationStatus" OWNER TO ayra;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."PaymentStatus" OWNER TO ayra;

--
-- Name: PaymentType; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."PaymentType" AS ENUM (
    'DEPOSIT',
    'BALANCE',
    'RELEASE',
    'REFUND',
    'SPLIT'
);


ALTER TYPE public."PaymentType" OWNER TO ayra;

--
-- Name: ProjectStatus; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."ProjectStatus" AS ENUM (
    'DRAFT',
    'FUNDED',
    'IN_PROGRESS',
    'DRAFT_SUBMITTED',
    'APPROVED',
    'DISPUTED',
    'RESOLVED',
    'RELEASED',
    'REFUNDED',
    'CANCELLED'
);


ALTER TYPE public."ProjectStatus" OWNER TO ayra;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: ayra
--

CREATE TYPE public."UserRole" AS ENUM (
    'CLIENT',
    'DESIGNER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO ayra;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminInvite; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."AdminInvite" (
    id text NOT NULL,
    email text NOT NULL,
    "tokenHash" text NOT NULL,
    "invitedById" text NOT NULL,
    "acceptedUserId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "acceptedAt" timestamp(3) without time zone,
    role public."UserRole" DEFAULT 'ADMIN'::public."UserRole" NOT NULL
);


ALTER TABLE public."AdminInvite" OWNER TO ayra;

--
-- Name: ChainEvent; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."ChainEvent" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "eventName" text NOT NULL,
    "txHash" text NOT NULL,
    "blockNumber" integer,
    payload jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ChainEvent" OWNER TO ayra;

--
-- Name: Dispute; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Dispute" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "openedById" text NOT NULL,
    status public."DisputeStatus" DEFAULT 'OPEN'::public."DisputeStatus" NOT NULL,
    description text NOT NULL,
    decision public."ArbitrationOutcome",
    "decisionNote" text,
    "decidedById" text,
    "clientPercent" integer,
    "companyPercent" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Dispute" OWNER TO ayra;

--
-- Name: DisputeFile; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."DisputeFile" (
    id text NOT NULL,
    "disputeId" text NOT NULL,
    "uploadedById" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    sha256 text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DisputeFile" OWNER TO ayra;

--
-- Name: Draft; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Draft" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "uploadedById" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    sha256 text NOT NULL,
    cid text,
    status public."DraftStatus" DEFAULT 'SUBMITTED'::public."DraftStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Draft" OWNER TO ayra;

--
-- Name: Enquiry; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Enquiry" (
    id text NOT NULL,
    "clientId" text NOT NULL,
    status public."EnquiryStatus" DEFAULT 'SUBMITTED'::public."EnquiryStatus" NOT NULL,
    "fullName" text NOT NULL,
    "contactEmail" text NOT NULL,
    "contactPhone" text NOT NULL,
    "serviceType" text,
    "addressLine" text,
    "propertyType" text,
    "propertySize" text,
    state text,
    area text,
    "budgetRange" text,
    "preferredStyle" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Enquiry" OWNER TO ayra;

--
-- Name: EnquiryFile; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."EnquiryFile" (
    id text NOT NULL,
    "enquiryId" text NOT NULL,
    "fileName" text NOT NULL,
    "fileUrl" text NOT NULL,
    sha256 text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EnquiryFile" OWNER TO ayra;

--
-- Name: MfaCode; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."MfaCode" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "codeHash" text NOT NULL,
    purpose text,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."MfaCode" OWNER TO ayra;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    status public."NotificationStatus" DEFAULT 'UNREAD'::public."NotificationStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readAt" timestamp(3) without time zone
);


ALTER TABLE public."Notification" OWNER TO ayra;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    type public."PaymentType" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    amount numeric(65,30) NOT NULL,
    "txHash" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Payment" OWNER TO ayra;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    "enquiryId" text,
    "clientId" text NOT NULL,
    "designerId" text,
    "adminId" text,
    title text NOT NULL,
    "quotedAmount" numeric(65,30) NOT NULL,
    "depositAmount" numeric(65,30) NOT NULL,
    "balanceAmount" numeric(65,30) NOT NULL,
    status public."ProjectStatus" DEFAULT 'DRAFT'::public."ProjectStatus" NOT NULL,
    "escrowAddress" text,
    "chainId" integer,
    "reviewDueAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "escrowPaused" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Project" OWNER TO ayra;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Session" OWNER TO ayra;

--
-- Name: TimelineEvent; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."TimelineEvent" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "actorId" text,
    "eventType" text NOT NULL,
    message text NOT NULL,
    "txHash" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."TimelineEvent" OWNER TO ayra;

--
-- Name: User; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."UserRole" NOT NULL,
    "mfaEnabled" boolean DEFAULT false NOT NULL,
    "mfaSecret" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "walletAddress" text,
    "walletPrivateKey" text,
    "emailVerified" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."User" OWNER TO ayra;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: ayra
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO ayra;

--
-- Data for Name: AdminInvite; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: ChainEvent; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: Dispute; Type: TABLE DATA; Schema: public; Owner: ayra
--

COPY public."Dispute" (id, "projectId", "openedById", status, description, decision, "decisionNote", "decidedById", "clientPercent", "companyPercent", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DisputeFile; Type: TABLE DATA; Schema: public; Owner: ayra
--

COPY public."DisputeFile" (id, "disputeId", "uploadedById", "fileName", "fileUrl", sha256, "createdAt") FROM stdin;
\.


--
-- Data for Name: Draft; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: Enquiry; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: EnquiryFile; Type: TABLE DATA; Schema: public; Owner: ayra
--

COPY public."EnquiryFile" (id, "enquiryId", "fileName", "fileUrl", sha256, "createdAt") FROM stdin;
\.


--
-- Data for Name: MfaCode; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: TimelineEvent; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: ayra
--



--
-- Name: AdminInvite AdminInvite_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."AdminInvite"
    ADD CONSTRAINT "AdminInvite_pkey" PRIMARY KEY (id);


--
-- Name: ChainEvent ChainEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."ChainEvent"
    ADD CONSTRAINT "ChainEvent_pkey" PRIMARY KEY (id);


--
-- Name: DisputeFile DisputeFile_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."DisputeFile"
    ADD CONSTRAINT "DisputeFile_pkey" PRIMARY KEY (id);


--
-- Name: Dispute Dispute_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_pkey" PRIMARY KEY (id);


--
-- Name: Draft Draft_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Draft"
    ADD CONSTRAINT "Draft_pkey" PRIMARY KEY (id);


--
-- Name: EnquiryFile EnquiryFile_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."EnquiryFile"
    ADD CONSTRAINT "EnquiryFile_pkey" PRIMARY KEY (id);


--
-- Name: Enquiry Enquiry_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Enquiry"
    ADD CONSTRAINT "Enquiry_pkey" PRIMARY KEY (id);


--
-- Name: MfaCode MfaCode_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."MfaCode"
    ADD CONSTRAINT "MfaCode_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: TimelineEvent TimelineEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AdminInvite_acceptedUserId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "AdminInvite_acceptedUserId_idx" ON public."AdminInvite" USING btree ("acceptedUserId");


--
-- Name: AdminInvite_email_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "AdminInvite_email_idx" ON public."AdminInvite" USING btree (email);


--
-- Name: AdminInvite_invitedById_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "AdminInvite_invitedById_idx" ON public."AdminInvite" USING btree ("invitedById");


--
-- Name: AdminInvite_role_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "AdminInvite_role_idx" ON public."AdminInvite" USING btree (role);


--
-- Name: AdminInvite_tokenHash_key; Type: INDEX; Schema: public; Owner: ayra
--

CREATE UNIQUE INDEX "AdminInvite_tokenHash_key" ON public."AdminInvite" USING btree ("tokenHash");


--
-- Name: ChainEvent_projectId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "ChainEvent_projectId_idx" ON public."ChainEvent" USING btree ("projectId");


--
-- Name: ChainEvent_txHash_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "ChainEvent_txHash_idx" ON public."ChainEvent" USING btree ("txHash");


--
-- Name: DisputeFile_disputeId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "DisputeFile_disputeId_idx" ON public."DisputeFile" USING btree ("disputeId");


--
-- Name: DisputeFile_uploadedById_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "DisputeFile_uploadedById_idx" ON public."DisputeFile" USING btree ("uploadedById");


--
-- Name: Dispute_decidedById_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Dispute_decidedById_idx" ON public."Dispute" USING btree ("decidedById");


--
-- Name: Dispute_openedById_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Dispute_openedById_idx" ON public."Dispute" USING btree ("openedById");


--
-- Name: Dispute_projectId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Dispute_projectId_idx" ON public."Dispute" USING btree ("projectId");


--
-- Name: Draft_projectId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Draft_projectId_idx" ON public."Draft" USING btree ("projectId");


--
-- Name: Draft_uploadedById_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Draft_uploadedById_idx" ON public."Draft" USING btree ("uploadedById");


--
-- Name: EnquiryFile_enquiryId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "EnquiryFile_enquiryId_idx" ON public."EnquiryFile" USING btree ("enquiryId");


--
-- Name: Enquiry_clientId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Enquiry_clientId_idx" ON public."Enquiry" USING btree ("clientId");


--
-- Name: MfaCode_expiresAt_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "MfaCode_expiresAt_idx" ON public."MfaCode" USING btree ("expiresAt");


--
-- Name: MfaCode_userId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "MfaCode_userId_idx" ON public."MfaCode" USING btree ("userId");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Payment_projectId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Payment_projectId_idx" ON public."Payment" USING btree ("projectId");


--
-- Name: Project_adminId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Project_adminId_idx" ON public."Project" USING btree ("adminId");


--
-- Name: Project_clientId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Project_clientId_idx" ON public."Project" USING btree ("clientId");


--
-- Name: Project_designerId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Project_designerId_idx" ON public."Project" USING btree ("designerId");


--
-- Name: Project_enquiryId_key; Type: INDEX; Schema: public; Owner: ayra
--

CREATE UNIQUE INDEX "Project_enquiryId_key" ON public."Project" USING btree ("enquiryId");


--
-- Name: Session_token_key; Type: INDEX; Schema: public; Owner: ayra
--

CREATE UNIQUE INDEX "Session_token_key" ON public."Session" USING btree (token);


--
-- Name: Session_userId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "Session_userId_idx" ON public."Session" USING btree ("userId");


--
-- Name: TimelineEvent_actorId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "TimelineEvent_actorId_idx" ON public."TimelineEvent" USING btree ("actorId");


--
-- Name: TimelineEvent_projectId_idx; Type: INDEX; Schema: public; Owner: ayra
--

CREATE INDEX "TimelineEvent_projectId_idx" ON public."TimelineEvent" USING btree ("projectId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: ayra
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_walletAddress_key; Type: INDEX; Schema: public; Owner: ayra
--

CREATE UNIQUE INDEX "User_walletAddress_key" ON public."User" USING btree ("walletAddress");


--
-- Name: AdminInvite AdminInvite_acceptedUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."AdminInvite"
    ADD CONSTRAINT "AdminInvite_acceptedUserId_fkey" FOREIGN KEY ("acceptedUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: AdminInvite AdminInvite_invitedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."AdminInvite"
    ADD CONSTRAINT "AdminInvite_invitedById_fkey" FOREIGN KEY ("invitedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ChainEvent ChainEvent_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."ChainEvent"
    ADD CONSTRAINT "ChainEvent_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DisputeFile DisputeFile_disputeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."DisputeFile"
    ADD CONSTRAINT "DisputeFile_disputeId_fkey" FOREIGN KEY ("disputeId") REFERENCES public."Dispute"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DisputeFile DisputeFile_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."DisputeFile"
    ADD CONSTRAINT "DisputeFile_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Dispute Dispute_decidedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_decidedById_fkey" FOREIGN KEY ("decidedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Dispute Dispute_openedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_openedById_fkey" FOREIGN KEY ("openedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Dispute Dispute_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Draft Draft_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Draft"
    ADD CONSTRAINT "Draft_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Draft Draft_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Draft"
    ADD CONSTRAINT "Draft_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EnquiryFile EnquiryFile_enquiryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."EnquiryFile"
    ADD CONSTRAINT "EnquiryFile_enquiryId_fkey" FOREIGN KEY ("enquiryId") REFERENCES public."Enquiry"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Enquiry Enquiry_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Enquiry"
    ADD CONSTRAINT "Enquiry_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MfaCode MfaCode_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."MfaCode"
    ADD CONSTRAINT "MfaCode_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Project Project_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Project Project_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Project Project_designerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_designerId_fkey" FOREIGN KEY ("designerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Project Project_enquiryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_enquiryId_fkey" FOREIGN KEY ("enquiryId") REFERENCES public."Enquiry"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TimelineEvent TimelineEvent_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TimelineEvent TimelineEvent_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ayra
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: ayra
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 1gPHyDcjZ0BgLpCPVKjZmN9fLIdJmtI3WrjaKee6zcTXMN8sTGgri7qIcn6akU1

